<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014045513958-sd8mjssit23948ic7esijph1n9u7n1fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014045513958-sd8mjssit23948ic7esijph1n9u7n1fc</string>
	<key>API_KEY</key>
	<string>AIzaSyDMNFQKAufuycmurjoQZrprV8ICyKC4WAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1014045513958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lestad.ProjetoDesign</string>
	<key>PROJECT_ID</key>
	<string>projetointegrador-ec128</string>
	<key>STORAGE_BUCKET</key>
	<string>projetointegrador-ec128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014045513958:ios:e1410e387de70c4cbf8327</string>
</dict>
</plist>